@font-face {
    font-family: tahamtan;
    src: url(./resources/Tahamtan.woff);
}

@font-face {
    font-family: katibeh;
    src: url(./resources/katibeh\ web.woff);
}

@font-face {
    font-family: kalameh;
    src: url(./resources/KalamehWeb/woff/KalamehWeb_Regular.woff);
    font-weight: normal;
}

@font-face {
    font-family: kalameh-thin;
    src: url(./resources/KalamehWeb/woff/KalamehWeb_thin.woff);
    font-weight: lighter;
}

@font-face {
    font-family: kalameh-black;
    src: url(./resources/KalamehWeb/woff/KalamehWeb_Black.woff);
    font-weight: bolder;
}

@font-face {
    font-family: kalameh-bold;
    src: url(./resources/KalamehWeb/woff/KalamehWeb_Bold.woff);
    font-weight: bolder;
}

html,
body {
    font-family: kalameh;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
}

/* body {
    background: -webkit-linear-gradient(
        to right,
        #49a09d,
        #5f2c82
    );
    background: linear-gradient(
        to right,
        #49a09d,
        #5f2c82
    );
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
 */

*,
:after,
:before {
    box-sizing: border-box;
}

body:after {
    content: "";
    background: linear-gradient(
        130deg,
        #ff7a18,
        #af002d 41.07%,
        #319197 76.05%
    );
}

body:before {
    background-size: cover;
}

body:after,
body:before {
    display: block;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

body:after,
body:before {
    -webkit-clip-path: polygon(
        100% 0,
        0 0,
        0 77.5%,
        1% 77.4%,
        2% 77.1%,
        3% 76.6%,
        4% 75.9%,
        5% 75.05%,
        6% 74.05%,
        7% 72.95%,
        8% 71.75%,
        9% 70.55%,
        10% 69.3%,
        11% 68.05%,
        12% 66.9%,
        13% 65.8%,
        14% 64.8%,
        15% 64%,
        16% 63.35%,
        17% 62.85%,
        18% 62.6%,
        19% 62.5%,
        20% 62.65%,
        21% 63%,
        22% 63.5%,
        23% 64.2%,
        24% 65.1%,
        25% 66.1%,
        26% 67.2%,
        27% 68.4%,
        28% 69.65%,
        29% 70.9%,
        30% 72.15%,
        31% 73.3%,
        32% 74.35%,
        33% 75.3%,
        34% 76.1%,
        35% 76.75%,
        36% 77.2%,
        37% 77.45%,
        38% 77.5%,
        39% 77.3%,
        40% 76.95%,
        41% 76.4%,
        42% 75.65%,
        43% 74.75%,
        44% 73.75%,
        45% 72.6%,
        46% 71.4%,
        47% 70.15%,
        48% 68.9%,
        49% 67.7%,
        50% 66.55%,
        51% 65.5%,
        52% 64.55%,
        53% 63.75%,
        54% 63.15%,
        55% 62.75%,
        56% 62.55%,
        57% 62.5%,
        58% 62.7%,
        59% 63.1%,
        60% 63.7%,
        61% 64.45%,
        62% 65.4%,
        63% 66.45%,
        64% 67.6%,
        65% 68.8%,
        66% 70.05%,
        67% 71.3%,
        68% 72.5%,
        69% 73.6%,
        70% 74.65%,
        71% 75.55%,
        72% 76.35%,
        73% 76.9%,
        74% 77.3%,
        75% 77.5%,
        76% 77.45%,
        77% 77.25%,
        78% 76.8%,
        79% 76.2%,
        80% 75.4%,
        81% 74.45%,
        82% 73.4%,
        83% 72.25%,
        84% 71.05%,
        85% 69.8%,
        86% 68.55%,
        87% 67.35%,
        88% 66.2%,
        89% 65.2%,
        90% 64.3%,
        91% 63.55%,
        92% 63%,
        93% 62.65%,
        94% 62.5%,
        95% 62.55%,
        96% 62.8%,
        97% 63.3%,
        98% 63.9%,
        99% 64.75%,
        100% 65.7%
    );
    clip-path: polygon(
        100% 0,
        0 0,
        0 77.5%,
        1% 77.4%,
        2% 77.1%,
        3% 76.6%,
        4% 75.9%,
        5% 75.05%,
        6% 74.05%,
        7% 72.95%,
        8% 71.75%,
        9% 70.55%,
        10% 69.3%,
        11% 68.05%,
        12% 66.9%,
        13% 65.8%,
        14% 64.8%,
        15% 64%,
        16% 63.35%,
        17% 62.85%,
        18% 62.6%,
        19% 62.5%,
        20% 62.65%,
        21% 63%,
        22% 63.5%,
        23% 64.2%,
        24% 65.1%,
        25% 66.1%,
        26% 67.2%,
        27% 68.4%,
        28% 69.65%,
        29% 70.9%,
        30% 72.15%,
        31% 73.3%,
        32% 74.35%,
        33% 75.3%,
        34% 76.1%,
        35% 76.75%,
        36% 77.2%,
        37% 77.45%,
        38% 77.5%,
        39% 77.3%,
        40% 76.95%,
        41% 76.4%,
        42% 75.65%,
        43% 74.75%,
        44% 73.75%,
        45% 72.6%,
        46% 71.4%,
        47% 70.15%,
        48% 68.9%,
        49% 67.7%,
        50% 66.55%,
        51% 65.5%,
        52% 64.55%,
        53% 63.75%,
        54% 63.15%,
        55% 62.75%,
        56% 62.55%,
        57% 62.5%,
        58% 62.7%,
        59% 63.1%,
        60% 63.7%,
        61% 64.45%,
        62% 65.4%,
        63% 66.45%,
        64% 67.6%,
        65% 68.8%,
        66% 70.05%,
        67% 71.3%,
        68% 72.5%,
        69% 73.6%,
        70% 74.65%,
        71% 75.55%,
        72% 76.35%,
        73% 76.9%,
        74% 77.3%,
        75% 77.5%,
        76% 77.45%,
        77% 77.25%,
        78% 76.8%,
        79% 76.2%,
        80% 75.4%,
        81% 74.45%,
        82% 73.4%,
        83% 72.25%,
        84% 71.05%,
        85% 69.8%,
        86% 68.55%,
        87% 67.35%,
        88% 66.2%,
        89% 65.2%,
        90% 64.3%,
        91% 63.55%,
        92% 63%,
        93% 62.65%,
        94% 62.5%,
        95% 62.55%,
        96% 62.8%,
        97% 63.3%,
        98% 63.9%,
        99% 64.75%,
        100% 65.7%
    );
}

body:after,
body:before {
    -webkit-clip-path: polygon(
        100% 0,
        0 0,
        0 77.5%,
        1% 77.4%,
        2% 77.1%,
        3% 76.6%,
        4% 75.9%,
        5% 75.05%,
        6% 74.05%,
        7% 72.95%,
        8% 71.75%,
        9% 70.55%,
        10% 69.3%,
        11% 68.05%,
        12% 66.9%,
        13% 65.8%,
        14% 64.8%,
        15% 64%,
        16% 63.35%,
        17% 62.85%,
        18% 62.6%,
        19% 62.5%,
        20% 62.65%,
        21% 63%,
        22% 63.5%,
        23% 64.2%,
        24% 65.1%,
        25% 66.1%,
        26% 67.2%,
        27% 68.4%,
        28% 69.65%,
        29% 70.9%,
        30% 72.15%,
        31% 73.3%,
        32% 74.35%,
        33% 75.3%,
        34% 76.1%,
        35% 76.75%,
        36% 77.2%,
        37% 77.45%,
        38% 77.5%,
        39% 77.3%,
        40% 76.95%,
        41% 76.4%,
        42% 75.65%,
        43% 74.75%,
        44% 73.75%,
        45% 72.6%,
        46% 71.4%,
        47% 70.15%,
        48% 68.9%,
        49% 67.7%,
        50% 66.55%,
        51% 65.5%,
        52% 64.55%,
        53% 63.75%,
        54% 63.15%,
        55% 62.75%,
        56% 62.55%,
        57% 62.5%,
        58% 62.7%,
        59% 63.1%,
        60% 63.7%,
        61% 64.45%,
        62% 65.4%,
        63% 66.45%,
        64% 67.6%,
        65% 68.8%,
        66% 70.05%,
        67% 71.3%,
        68% 72.5%,
        69% 73.6%,
        70% 74.65%,
        71% 75.55%,
        72% 76.35%,
        73% 76.9%,
        74% 77.3%,
        75% 77.5%,
        76% 77.45%,
        77% 77.25%,
        78% 76.8%,
        79% 76.2%,
        80% 75.4%,
        81% 74.45%,
        82% 73.4%,
        83% 72.25%,
        84% 71.05%,
        85% 69.8%,
        86% 68.55%,
        87% 67.35%,
        88% 66.2%,
        89% 65.2%,
        90% 64.3%,
        91% 63.55%,
        92% 63%,
        93% 62.65%,
        94% 62.5%,
        95% 62.55%,
        96% 62.8%,
        97% 63.3%,
        98% 63.9%,
        99% 64.75%,
        100% 65.7%
    );
    clip-path: polygon(
        100% 0,
        0 0,
        0 77.5%,
        1% 77.4%,
        2% 77.1%,
        3% 76.6%,
        4% 75.9%,
        5% 75.05%,
        6% 74.05%,
        7% 72.95%,
        8% 71.75%,
        9% 70.55%,
        10% 69.3%,
        11% 68.05%,
        12% 66.9%,
        13% 65.8%,
        14% 64.8%,
        15% 64%,
        16% 63.35%,
        17% 62.85%,
        18% 62.6%,
        19% 62.5%,
        20% 62.65%,
        21% 63%,
        22% 63.5%,
        23% 64.2%,
        24% 65.1%,
        25% 66.1%,
        26% 67.2%,
        27% 68.4%,
        28% 69.65%,
        29% 70.9%,
        30% 72.15%,
        31% 73.3%,
        32% 74.35%,
        33% 75.3%,
        34% 76.1%,
        35% 76.75%,
        36% 77.2%,
        37% 77.45%,
        38% 77.5%,
        39% 77.3%,
        40% 76.95%,
        41% 76.4%,
        42% 75.65%,
        43% 74.75%,
        44% 73.75%,
        45% 72.6%,
        46% 71.4%,
        47% 70.15%,
        48% 68.9%,
        49% 67.7%,
        50% 66.55%,
        51% 65.5%,
        52% 64.55%,
        53% 63.75%,
        54% 63.15%,
        55% 62.75%,
        56% 62.55%,
        57% 62.5%,
        58% 62.7%,
        59% 63.1%,
        60% 63.7%,
        61% 64.45%,
        62% 65.4%,
        63% 66.45%,
        64% 67.6%,
        65% 68.8%,
        66% 70.05%,
        67% 71.3%,
        68% 72.5%,
        69% 73.6%,
        70% 74.65%,
        71% 75.55%,
        72% 76.35%,
        73% 76.9%,
        74% 77.3%,
        75% 77.5%,
        76% 77.45%,
        77% 77.25%,
        78% 76.8%,
        79% 76.2%,
        80% 75.4%,
        81% 74.45%,
        82% 73.4%,
        83% 72.25%,
        84% 71.05%,
        85% 69.8%,
        86% 68.55%,
        87% 67.35%,
        88% 66.2%,
        89% 65.2%,
        90% 64.3%,
        91% 63.55%,
        92% 63%,
        93% 62.65%,
        94% 62.5%,
        95% 62.55%,
        96% 62.8%,
        97% 63.3%,
        98% 63.9%,
        99% 64.75%,
        100% 65.7%
    );
}
body:before {
    background-size: cover;
}
body:after,
body:before {
    display: block;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
*,
:after,
:before {
    box-sizing: border-box;
}
body::after {
    opacity: 0.91;
}
body:after,
body:before {
    -webkit-clip-path: polygon(
        100% 0,
        0 0,
        0 77.5%,
        1% 77.4%,
        2% 77.1%,
        3% 76.6%,
        4% 75.9%,
        5% 75.05%,
        6% 74.05%,
        7% 72.95%,
        8% 71.75%,
        9% 70.55%,
        10% 69.3%,
        11% 68.05%,
        12% 66.9%,
        13% 65.8%,
        14% 64.8%,
        15% 64%,
        16% 63.35%,
        17% 62.85%,
        18% 62.6%,
        19% 62.5%,
        20% 62.65%,
        21% 63%,
        22% 63.5%,
        23% 64.2%,
        24% 65.1%,
        25% 66.1%,
        26% 67.2%,
        27% 68.4%,
        28% 69.65%,
        29% 70.9%,
        30% 72.15%,
        31% 73.3%,
        32% 74.35%,
        33% 75.3%,
        34% 76.1%,
        35% 76.75%,
        36% 77.2%,
        37% 77.45%,
        38% 77.5%,
        39% 77.3%,
        40% 76.95%,
        41% 76.4%,
        42% 75.65%,
        43% 74.75%,
        44% 73.75%,
        45% 72.6%,
        46% 71.4%,
        47% 70.15%,
        48% 68.9%,
        49% 67.7%,
        50% 66.55%,
        51% 65.5%,
        52% 64.55%,
        53% 63.75%,
        54% 63.15%,
        55% 62.75%,
        56% 62.55%,
        57% 62.5%,
        58% 62.7%,
        59% 63.1%,
        60% 63.7%,
        61% 64.45%,
        62% 65.4%,
        63% 66.45%,
        64% 67.6%,
        65% 68.8%,
        66% 70.05%,
        67% 71.3%,
        68% 72.5%,
        69% 73.6%,
        70% 74.65%,
        71% 75.55%,
        72% 76.35%,
        73% 76.9%,
        74% 77.3%,
        75% 77.5%,
        76% 77.45%,
        77% 77.25%,
        78% 76.8%,
        79% 76.2%,
        80% 75.4%,
        81% 74.45%,
        82% 73.4%,
        83% 72.25%,
        84% 71.05%,
        85% 69.8%,
        86% 68.55%,
        87% 67.35%,
        88% 66.2%,
        89% 65.2%,
        90% 64.3%,
        91% 63.55%,
        92% 63%,
        93% 62.65%,
        94% 62.5%,
        95% 62.55%,
        96% 62.8%,
        97% 63.3%,
        98% 63.9%,
        99% 64.75%,
        100% 65.7%
    );
    clip-path: polygon(
        100% 0,
        0 0,
        0 77.5%,
        1% 77.4%,
        2% 77.1%,
        3% 76.6%,
        4% 75.9%,
        5% 75.05%,
        6% 74.05%,
        7% 72.95%,
        8% 71.75%,
        9% 70.55%,
        10% 69.3%,
        11% 68.05%,
        12% 66.9%,
        13% 65.8%,
        14% 64.8%,
        15% 64%,
        16% 63.35%,
        17% 62.85%,
        18% 62.6%,
        19% 62.5%,
        20% 62.65%,
        21% 63%,
        22% 63.5%,
        23% 64.2%,
        24% 65.1%,
        25% 66.1%,
        26% 67.2%,
        27% 68.4%,
        28% 69.65%,
        29% 70.9%,
        30% 72.15%,
        31% 73.3%,
        32% 74.35%,
        33% 75.3%,
        34% 76.1%,
        35% 76.75%,
        36% 77.2%,
        37% 77.45%,
        38% 77.5%,
        39% 77.3%,
        40% 76.95%,
        41% 76.4%,
        42% 75.65%,
        43% 74.75%,
        44% 73.75%,
        45% 72.6%,
        46% 71.4%,
        47% 70.15%,
        48% 68.9%,
        49% 67.7%,
        50% 66.55%,
        51% 65.5%,
        52% 64.55%,
        53% 63.75%,
        54% 63.15%,
        55% 62.75%,
        56% 62.55%,
        57% 62.5%,
        58% 62.7%,
        59% 63.1%,
        60% 63.7%,
        61% 64.45%,
        62% 65.4%,
        63% 66.45%,
        64% 67.6%,
        65% 68.8%,
        66% 70.05%,
        67% 71.3%,
        68% 72.5%,
        69% 73.6%,
        70% 74.65%,
        71% 75.55%,
        72% 76.35%,
        73% 76.9%,
        74% 77.3%,
        75% 77.5%,
        76% 77.45%,
        77% 77.25%,
        78% 76.8%,
        79% 76.2%,
        80% 75.4%,
        81% 74.45%,
        82% 73.4%,
        83% 72.25%,
        84% 71.05%,
        85% 69.8%,
        86% 68.55%,
        87% 67.35%,
        88% 66.2%,
        89% 65.2%,
        90% 64.3%,
        91% 63.55%,
        92% 63%,
        93% 62.65%,
        94% 62.5%,
        95% 62.55%,
        96% 62.8%,
        97% 63.3%,
        98% 63.9%,
        99% 64.75%,
        100% 65.7%
    );
}

body::before {
    content: "";
    background-image: url(https://css-tricks.com/wp-content/uploads/2020/03/chevron-pattern.png);
}

body {
    background: #262626 !important;
}

.wrap {
    position: relative;
    width: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: katibeh;
    color: #fff;
    font-size: 520px;
    padding: 40px 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    align-self: auto;
    text-align: center;
    text-shadow: 6px 6px 11px rgb(20, 20, 20);
}

.drop {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px);
    margin: 0 auto;
    overflow: hidden;
}

.drop1 {
    width: 430px;
    height: 250px;
    top: 56px;
    left: 0;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    color: white;
    border: solid 2px transparent;
}

.sidebar {
    height: 100%;
    top: 0px;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    float: right;
    margin: 0px;
    padding: 0px;
    border-radius: 5px 0px 0 5px;
    position: relative;
}

.menu-item {
    height: 40px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    color: white;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: right;
    padding: 8px;
    vertical-align: center;
    align-self: center;
    align-content: center;
    font-size: 100%;
    font-family: kalameh-bold;
}

.pattern-horizontal-lines-sm {
    height: 100%;
    z-index: 2;
}

.uni-name {
    float: left;
    margin: 6;
}

.uni-name-farsi {
    padding-top: 4px;
    font-weight: 600;
    font-family: kalameh-bold;
    font-size: 120%;
}

.uni-name-eng {
    font-size: 62%;
    margin-top: -6px;
}

label {
    font-family: kalameh-bold;
    font-size: 72%;
    text-align: right;
    float: right;
    display: block;
    padding: 0;
    margin: 0 !important;
}

.info-field {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-size: 9pt;
    width: 100%;
    margin: 0 !important;
    padding: 1px 5px;
}

.sidebar img {
    padding: 0%;
    margin: 25% auto;
    -webkit-box-shadow: -47px 15px 77px 6px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -47px 15px 77px 6px rgba(0, 0, 0, 0.35);
    box-shadow: -47px 15px 77px 6px rgba(0, 0, 0, 0.35);
}

.person {
    width: 86% !important;
    bottom: 4% !important;
    left: 7% !important;
    position: absolute;
    border-radius: 3px;
    -webkit-box-shadow: -47px 15px 77px 6px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -47px 15px 77px 6px rgba(0, 0, 0, 0.45);
    box-shadow: -47px 15px 77px 6px rgba(0, 0, 0, 0.45);
}

.card-bar {
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto 0px !important;
}

.row {
    width: 100%;
    height: 100vh;
    margin: auto 0 !important;
}
