.grid-col {
    empty-cells: show;
}

.empty-cell {
    border-style: dotted;
    border-width: 0.3vh 0 0 0;
    border-color: rgba(255, 255, 255, 0.514);
    background-color: rgba(128, 255, 0, 0);
}

.grid-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.grid-col > :first-child,
.grid-col > :last-child {
    visibility: hidden;
}
